{% load static %}
{% load static tailwind_tags %}

<div class="flex items-center justify-center">
    <div class="grid gap-8 grid-cols-2 py-8 px-6 w-[1080px] items-center justify-center self-auto">
        <div class="card lg:card-side bg-transparent hover:bg-neutral shadow-xl">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp" alt="Album" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
                <div class="card-actions justify-end">
                    <button class="btn bg-[#4338ca]">Listen</button>
                </div>
            </div>
        </div>
        <div class="card lg:card-side bg-transparent hover:bg-neutral shadow-xl">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp" alt="Album" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
                <div class="card-actions justify-end">
                    <button class="btn bg-[#4338ca]">Listen</button>
                </div>
            </div>
        </div>
        <div class="card lg:card-side bg-transparent hover:bg-neutral shadow-xl">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp" alt="Album" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
                <div class="card-actions justify-end">
                    <button class="btn bg-[#4338ca]">Listen</button>
                </div>
            </div>
        </div>
        <div class="card lg:card-side bg-transparent hover:bg-neutral shadow-xl">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp" alt="Album" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
                <div class="card-actions justify-end">
                    <button class="btn bg-[#4338ca]">Listen</button>
                </div>
            </div>
        </div>
        <div class="card lg:card-side bg-transparent hover:bg-neutral shadow-xl">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp" alt="Album" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
                <div class="card-actions justify-end">
                    <button class="btn bg-[#4338ca]">Listen</button>
                </div>
            </div>
        </div>
        <div class="card lg:card-side bg-transparent hover:bg-neutral shadow-xl">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp" alt="Album" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
                <div class="card-actions justify-end">
                    <button class="btn bg-[#4338ca]">Listen</button>
                </div>
            </div>
        </div>
        <div class="card lg:card-side bg-transparent hover:bg-neutral shadow-xl">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp" alt="Album" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
                <div class="card-actions justify-end">
                    <button class="btn bg-[#4338ca]">Listen</button>
                </div>
            </div>
        </div>


    </div>
</div>