{% extends "base.html" %}
{% load static %}
{% load tailwind_tags %}

{% block title %}
Candleman's Blog
{% endblock %}

{% block content %}

<!-- Bio Preview -->
<div
    class="bg-black/20 w-full h-auto sm:h-auto md:h-auto lg:h-auto px-4 sm:px-6 md:px-8 lg:px-12 pt-4 sm:pt-6 md:pt-8 lg:pt-10 rounded-2xl">
    <div class="flex flex-wrap pt-10 lg:pt-20 justify-center items-center w-full">
        <!-- Image Section -->
        <div class="w-full md:w-1/2 flex justify-center mb-8  md:mb-0">
            <img src="{% static 'blog/images/jamal.rar.webp' %}" alt="Candleman's Image"
                class="object-contain transition-transform duration-200 ease-in-out hover:scale-105 
                       w-[150px] sm:w-[200px] md:w-[300px] lg:w-[400px] h-[150px] sm:h-[200px] md:h-[300px] lg:h-[400px]">
        </div>
        <!-- Text Section -->
        <div class="w-full md:w-1/2 flex justify-center md:justify-start px-5">
            <div class="text-center md:text-left">
                <p
                    class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-extrabold transition-transform duration-500 ease-in-out hover:scale-105 origin-top text-white drop-shadow-2xl mb-4 cursor-default">
                    About Candleman
                </p>
                <p class="text-sm sm:text-base md:text-lg lg:text-xl text-white tracking-wide leading-relaxed">
                    I like building something from scratch. I enjoy programming, rockhounding,
                    music production, and anything else that can fulfill my intellectual
                    curiosity (I eat books for survival.)
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Latest Posts Text -->
<div class="bg-[#1E1739] relative z-10 w-full h-auto pt-8">
    <div class="flex w-full px-5 mt-0 lg:px-20 items-center justify-center">
        <div
            class="h-[120px] w-full flex justify-center items-center p-10 py-10 bg-neutral hover:bg-[#2e1065] rounded-xl self-auto">
            <p class="text-4xl font-bold text-white">Latest Posts</p>
        </div>
    </div>

    <!-- Posts Grid -->
    <div class="w-full flex px-5 lg:px-20 justify-center">
        <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 py-8 w-full">
            {% for post in latest_posts %}
            {% include 'blog/includes/post.html' %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}